.plugin_vulnerabilities_plugin {display: inline-block; width:300px;}

.plugin_vulnerabilities_version {display: inline-block; width:100px;}

.plugin_vulnerabilities_vulnerability {display: inline-block; width:400px;}